body {
  font-family: sans-serif;
}

.App {
  text-align: center;
  padding: 20px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.flex > div {
  margin: 0 1rem 2rem 1rem;
  text-align: center;
}

.user-item img {
  display: inline-block;
  max-width: 100%;
  border-radius: 50%;
  width: 100px;
  height: 100px; 
}
